<div class="row">
  <div class="title">
    <h1>HollyGO</h1>
  </div>
</div>
<div class="row">
  <div class="sub_title center col l8 offset-l2">
    <p>Votre meilleur ami pour organiser</br>&</br>budgétiser vos vacances</p>
</div>
</div>
<div class="row">
<!-- Modal Trigger -->
<a class="waves-effect waves-light btn-large col l3 offset-l4 big_btn_inscription">Inscription</a>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal">
<div class="modal-content test">
<h4 class="connexion">Connexion</h4>
<div class="row">
  <form class="col l12">
    <!-- Email  -->
    <div class="row">
      <div class="input-field col l11">
        <i class="material-icons prefix">email</i>
        <input id="icon_prefix" type="text" class="validate" ng-model="mail">
        <label for="icon_prefix">Adresse e-mail</label>
      </div>
    </div>
    <!-- Password -->
    <div class="row">
      <div class="input-field col l11">
        <i class="material-icons prefix">lock_outline</i>
        <input id="icon_prefix" type="text" class="validate" ng-model="password">
        <label for="icon_prefix">Mot de passe</label>
      </div>
    </div>
  </form>
</div>
</div>
<div class="modal-footer">
<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Valider</a>
</div>
</div>
