<div class="contbloc">
  <div class="row valign-wrapper">
    <div class="col l8 valign titre">
      <b>Gestion de votre séjour:</b>
    </div>
  </div>
  <div class="row valign-wrapper">
    <div class="col l8 bloctitre">
      <div class="col l4 valign">Du 18/07/2016 au 26/07/2016</div>
      <div class="col l4 valign bloc-center">Barcelone</div>
      <div class="col l4 valign">4 amis</div>
    </div>
  </div>
  <div class="row">
    <div class="bloc amis col l3  ">
      <a href="amis.html">
        <div class="row valign-wrapper">
          <div class="text col l6 valign">Qui ?</div>
          <div class="logo-image col l6">
            <img src="image/friend.png"></img>
          </div>
        </div>
      </a>
    </div>
    <div class="bloc date col l3 ">
      <a href="#">
        <div class="row valign-wrapper">
          <div class="text col l6 valign">Quand ?</div>
          <div class="logo-image col l6">
            <img src="image/calendar.png"></img>
          </div>
        </div>
      </a>
    </div>
    <div class="bloc destination col l3 ">
      <a href="destination.html">
        <div class="row valign-wrapper">
          <div class="text col l6 valign">Ou ?</div>
          <div class="logo-image col l6">
            <img src="image/destination.png"></img>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="bloc transport col l3">
      <a href="transport.html">
        <div class="row valign-wrapper">
          <div class="text col l6 valign">Transport</div>
          <div class="logo-image col l6">
            <img src="image/airplane.png"></img>
          </div>
        </div>
      </a>
    </div>
    <div class="bloc hebergement col l3">
      <a href="herbergement.html">
        <div class="row valign-wrapper">
          <div class="text col l6 valign">Hergement</div>
          <div class="logo-image col l6">
            <img src="image/home.png"></img>
          </div>
        </div>
      </a>
    </div>
    <div class="bloc activités col l3">
      <a href="#">
        <div class="row valign-wrapper">
          <div class="text col l6 valign">Activités</div>
          <div class="logo-image col l6">
            <img src="image/spyglass.png"></img>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="contblocbis">
  <div class="row">
    <div class="blocbis col col l3 depenses">
      <div class="col l12 titlerecap">Récapitulatif dépenses :</div>
      <div class="row simpleline">
        <div class="col l6">Transport</div>
        <div class="col l6">
          <span>130€</span>
        </div>
      </div>
      <div class="row simpleline">
        <div class="col l6">Logement</div>
        <div class="col l6">
          <span>500€</span>
        </div>
      </div>
      <div class="row">
        <div class="col l6">Loisirs</div>
        <div class="col l6">
          <span>200€</span>
        </div>
      </div>
      <div class="row">
        <div class="col l6 simpleline">TOTAL</div>
        <div class="col l6">
          <span>830€</span>
        </div>
      </div>
      <div class="row">
        <div class="col l6">Soit par personne</div>
        <div class="col l6">
          <span>277€</span>
        </div>
      </div>
    </div>
    <div class="blocbis col col l6 synthese">
      <div class="col l12 titlerecap">Synthèse du séjour :</div>
    </div>
    <div class="blocbis col col l2 jauge">
      <div class="col l12 titlerecap">État d'avancement :</div>
      <div class="col l12 etat">
        <b>50%</b>
      </div>
    </div>
  </div>
</div>
