<nav>
  <div class="nav-wrapper">
    <a href="/holigo-hack/web/app_dev.php/#/main" class="brand-logo">Holigo</a>
    <ul class="right hide-on-med-and-down">
      <li>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light modal-trigger btn" href="#modal1">Se connecter</a>
      </li>
      <li>
        <a class="waves-effect waves-light btn" href="/holigo-hack/web/app_dev.php/#/register">Inscription</a>
      </li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="retour">
      <a href="/holigo-hack/web/app_dev.php/#/dashboard">Retour</a>
  </div>
  <div class="col l10 push-l1 bloc-amis">
    <h4 class="red lighten-2 center-align">Destination</h4>
    <table class="highlight">
      <thead>
        <tr>
          <th data-field="Ville">Ville de destination</th>
          <th data-field="date_depart">Départ</th>
          <th data-field="date_retour">Retour</th>
          <th data-field="destination_avis">Avis destination</th>
          <th data-field="destination_commentaire">Commentaire destination</th>
          <th data-field="destination_validation">Validation de la destination</th>
        </thead>
        <tbody>
          <tr>
            <td>Barcelone</td>
            <td>18/07/2016 10h</td>
            <td>25/07/2016 10h</td>
            <td>4/5</td>
            <td>Aucun</td>
            <td>Cédric, Franck, Yoan</td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col push-l4">
          <a class="waves-effect waves-light btn red lighten-2" href="#">Modifier les critères</a>
        </div>
      </div>
    </div>
  </div>
