<nav>
  <div class="nav-wrapper">
    <a href="/holigo-hack/web/app_dev.php/#/main" class="brand-logo">Holigo</a>
    <ul class="right hide-on-med-and-down">
      <li>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light modal-trigger btn" href="#modal1">Se connecter</a>
      </li>
      <li>
        <a class="waves-effect waves-light btn" href="/holigo-hack/web/app_dev.php/#/register">Inscription</a>
      </li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="retour"><a href="/holigo-hack/web/app_dev.php/#/dashboard">Retour</a></div>
  <div class="col l10 push-l1 bloc-amis">
    <h4 class="red lighten-2 center-align">Les disponibilités</h4>
    <table class="highlight">
      <thead>
        <tr>
            <th data-field="dispo_depart">Date prévisionnelle départ</th>
            <th data-field="dispo_retour">Date prévisionnelle retour</th>
            <th data-field="dispo_avis">Avis date</th>
            <th data-field="dispo_commentaire">Commentaire date</th>
            <th data-field="dispo_validation">Validation date</th>
      </thead>
      <tbody>
        <tr>
            <td>18/07/2016</td>
            <td>25/07/2016</td>
            <td>5/5</td>
            <td>Parfait</td>
            <td>Cédric, Franck, Yoan</td>
        </tr>
      </tbody>
    </table>
    <div class="row">
        <div class="col push-l4"><a class="waves-effect waves-light btn red lighten-2" href="#">Modifier les critères</a></div>
    </div>
  </div>
</div>
