<div class="row">
  <div class="retour">
    <a href="dashboard.html"><img src="./image/left-arrow-angle.png"/>Retour</a>
  </div>
  <div class="col l10 push-l1 bloc-amis">
    <h4 class="red lighten-2 center-align">Hebergement</h4>
    <table class="highlight">
      <thead>
        <tr>
          <th data-field="herbergement_type">Type d'herbergement</th>
          <th data-field="herbergement_couchage">Nombre de couchage</th>
          <th data-field="herbergement_tarif">Budget hebdomadaire</th>
          <th data-field="hebergement_avis">Avis hebergement</th>
          <th data-field="hebergement_commentaire">Commentaire hebergement</th>
          <th data-field="hebergement_validation">Validation de l'hergement</th>
          <th data-field="hebergement_reservation">Statut réservation</th>
        </thead>

        <tbody>
          <tr>
            <td>Location maison</td>
            <td>3 couchages</td>
            <td>500€</td>
            <td>4/5</td>
            <td>Aucun</td>
            <td>Cédric, Franck, Yoan</td>
            <td>Réservé</td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col push-l4">
          <a class="waves-effect waves-light btn red lighten-2" href="#">Modifier les critères</a>
        </div>
      </div>
    </div>
  </div>
