<nav>
  <div class="nav-wrapper">
    <a href="/holigo-hack/web/app_dev.php/#/main" class="brand-logo">Holigo</a>
    <ul class="right hide-on-med-and-down">
      <li>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light modal-trigger btn" href="#modal1">Se connecter</a>
      </li>
      <li>
        <a class="waves-effect waves-light btn" href="/holigo-hack/web/app_dev.php/#/register">Inscription</a>
      </li>
    </ul>
  </div>
</nav>
<h1>Près à partir ?</h1>
<form class="col l12 holiday_form">
  <div class="row">
    <input class="datepicker col l3" type="date" value="Date de départ">
    <input class="datepicker col l3" type="date" value="Date de retour">
  </div>
  <div class="row">
    <div class="input-field col l3">
      <input id="email" type="text" ng-autocomplete ng-model="depart">
      <label class="active" for="email">De (ville ou pays)</label>
    </div>
    <div class="input-field col l3">
      <input id="email" type="text" ng-autocomplete ng-model="arrive">
      <label class="active" for="email">À (ville ou pays)</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l3">
      <select>
        <option value="0">Voiture</option>
      </select>
      <label>Moyen de transport</label>
    </div>
    <div class="input-field col l3">
      <select>
        <option value="0">Essence</option>
        <option value="1">Gazoile</option>
      </select>
      <label>Carburant</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l3">
      <input id="email" type="number" value="80" class="validate">
      <label class="active" for="email">Budget hébergement / jour /pers</label>
    </div>
    <div class="input-field col l3">
      <input id="email" type="number" value="22" class="validate">
      <label class="active" for="email">Budget nouriture / jour /pers</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l3">
      <input id="email" type="number" value="30" class="validate">
      <label class="active" for="email">Budget sortie / jour /pers</label>
    </div>
    <div class="input-field col l3">
      <input id="email" type="number" class="validate">
      <label class="active" for="email">Nombre de personne</label>
    </div>
  </div>
</form>
