<nav>
  <div class="nav-wrapper">
    <a href="/holigo-hack/web/app_dev.php/#/main" class="brand-logo">Holigo</a>
    <ul class="right hide-on-med-and-down">

      <li>
        <a class="waves-effect waves-light btn" href="/holigo-hack/web/app_dev.php/#/register">Inscription</a>
      </li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="col l8 block-reg push-l2">
    <div class="row">
      <div class="input-field col l6">
        <input id="last_name" type="text" ng-model="data.prenom"/>
        <label for="prenom">Prénom</label>
      </div>
      <div class="input-field col l6">
        <input type="text" name="nom" ng-model="data.nom"/>
        <label for="nom">Nom</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col l6">
        <input id="last_name" type="text" ng-model="data.mail"/>
        <label for="mail">Mail</label>
      </div>
      <div class="input-field col l6">
        <input type="text" name="nom" ng-model="data.password"/>
        <label for="pseudo">Mot de passe</label>
      </div>
    </div>
    <div class="row">
      <div class=" input-field col l6 push-l6">
        <input type="text" name="retapez votre mot de passe" ng-model="data.passwordConfirmation"/>
        <label for="mot_de_passe">Resaissez votre mot de passe</label>
      </div>
    </div>
    <a href="/holigo-hack/web/app_dev.php/#/dashboard"><button  type="button" class="btn" ng-click="register()">Valider</button></a>
  </div>
</div>
