<div class="row">
  <div class="retour">
    <a href="dashboard.html"><img src="./image/left-arrow-angle.png"/>Retour</a>
  </div>
  <div class="col l10 push-l1 bloc-amis">
    <h4 class="red lighten-2 center-align">Transport</h4>
    <table class="highlight">
      <thead>
        <tr>
          <th data-field="transport">Moyen transport</th>
          <th data-field="date_depart">Départ</th>
          <th data-field="date_retour">Retour</th>
          <th data-field="distance">Distance voyage A/R</th>
          <th data-field="transport_type">Détails transport</th>
          <th data-field="budget">Budget transport</th>
          <th data-field="budget">Avis positif</th>
        </thead>
        <tbody>
          <tr>
            <td>Voiture</td>
            <td>18/07/2016 10h</td>
            <td>25/07/2016 10h</td>
            <td>3000 km</td>
            <td>Véhicule location</td>
            <td>600 €</td>
            <td>Cédric, Franck, Yoan</td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col push-l4">
          <a class="waves-effect waves-light btn red lighten-2" href="#">Modifier les critères</a>
        </div>
      </div>
    </div>
  </div>
